<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DanielApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <DanielApp.Properties.Settings>
            <setting name="TP_EXECUTABLE_PATH" serializeAs="String">
                <value />
            </setting>
            <setting name="LIBGDX_TPS_FILE" serializeAs="String">
                <value />
            </setting>
            <setting name="SPRITEKIT_TPS_FILE" serializeAs="String">
                <value />
            </setting>
            <setting name="SKIP_RENAME" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DEPOT_PATH" serializeAs="String">
                <value />
            </setting>
            <setting name="DO_DEPOT" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PACK_ANDROID_LIBGDX" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PACK_IOS_LIBGDX" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LIBGDX_DATFILE_EXTENTION" serializeAs="String">
                <value>json</value>
            </setting>
            <setting name="PACK_ANDROID_SPRITEKIT" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PACK_IOS_SPRITEKIT" serializeAs="String">
                <value>False</value>
            </setting>
        </DanielApp.Properties.Settings>
    </userSettings>
</configuration>